*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10px;
}

.nav-left img {
    width: 100px;
}

.nav-right i {
    width: 25px;
    margin-right: 2px;
}

.nav.middle i{
    width: 16px;
}

.search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background-color: transparent;

}

.search-box i {
    width: 15px;

}

